# dependencies
node_modules/

# env files
.env
backend/.env
frontend/.env

# uploads
backend/uploads/

# build
/dist/
/build/

# logs
npm-debug.log*

# IDE/editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Ignore all .env files recursively
**/.env
**/.env.*